<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
{{!-- Adding header partial  --}}
    {{> header}}
    
    <p>Some text here</p>

{{!-- Adding footer partial  --}}
    {{> footer}}
  </body>
</html>